@font-face {
    font-family: 'Aromatic Dream';
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/queeniecoding/makepeaple/blob/main/AromaticDream_Regular.otf) format('otf');
}

@font-face {
    font-family: 'Aromatic Dream Italic';
    font-style: italic;
    font-weight: 400;
    src: url(https://github.com/queeniecoding/makepeaple/blob/main/AromaticDream_Slanted.otf) format('otf');
}
